.week__meal-price, .week__heading .common-title, .week__heading .section-tag, .cta .common-title, .banner__title, .about .common-title, .about .section-tag {
  font-weight: 700;
}

.menubar__text-style {
  font-weight: 600;
}

.week__meal-price, .week__heading .common-title, .week__heading .section-tag, .cta .common-title, .banner__title, .about .common-title, .about .section-tag {
  font-weight: 700;
}

.menubar__text-style {
  font-weight: 600;
}

.container {
  padding: 0 85px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn__primary {
  padding: 13px 40px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #AF9065;
  border: none;
  font-family: "Nunito", sans-serif;
  color: white;
}
.btn__secondary {
  padding: 13px 40px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Nunito", sans-serif;
  color: var(--white-color);
  color: rgb(255, 255, 255);
}

.about__wrapper {
  padding: 100px 0;
  display: flex;
}
.about__wrapper-left {
  width: calc((100% - 50px) / 2);
  margin-right: 50px;
}
.about__wrapper-right {
  width: calc((100% - 50px) / 2);
  display: flex;
  gap: 50px;
}
.about__wrapper-right img {
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
}
.about .section-tag {
  color: #AF9065;
  font-family: Nunito;
  font-size: 14px;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  color: #AF9065;
  margin-bottom: 10px;
}
.about .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 44px;
  margin-bottom: 15px;
  margin-bottom: 30px;
}
.about .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 50px;
}

.banner {
  position: relative;
}
.banner__image {
  height: 650px;
  left: 0px;
  top: 0px;
}
.banner__image img {
  height: 100%;
  width: 100%;
}
.banner__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}
.banner__title {
  font-family: "Cardo", serif;
  font-size: 54px;
  line-height: 66px;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
.banner__buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.cta {
  position: relative;
  padding: 0 85px;
  height: 300px;
}
.cta::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}
.cta img {
  height: 100%;
  width: 100%;
}
.cta__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  text-align: center;
}
.cta .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 44px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 58px;
}
.cta .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.header {
  background-color: black;
}
.header__wrapper {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  color: white;
  text-decoration: none;
  gap: 50px;
}
.header__address {
  display: flex;
}
.header__address-name {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 10px;
}
.header__mail-name {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 10px;
}
.header__right {
  display: flex;
}
.header__social {
  display: flex;
  gap: 15px;
  margin-right: 30px;
  align-items: center;
}
.header__social .btn__primary {
  padding: 10px 30px;
}

.menubar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.menubar__right {
  display: flex;
}
.menubar__right .list-style {
  list-style: none;
  display: flex;
  gap: 30px;
}
.menubar__text-style {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.menubar__logo {
  height: 60px;
}
.menubar__logo img {
  height: 100%;
  width: 100%;
}
.menubar__rooms-dropdown svg {
  justify-content: center;
}
.menubar__hamburger-menu {
  display: none;
}

.week {
  background-color: #e5e5e5;
  padding: 100px 0;
}
.week__heading {
  text-align: center;
}
.week__heading .section-tag {
  color: #AF9065;
  font-family: Nunito;
  font-size: 14px;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.week__heading .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 44px;
  margin-bottom: 15px;
}
.week__heading .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.week__menu-wrapper {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px 0;
}
.week__meal-items {
  width: calc((100% - 50px) / 2);
  background-color: rgb(255, 255, 255);
  padding: 20px 37px;
  display: flex;
}
.week__meal-items:nth-child(even) {
  flex-direction: row-reverse;
}
.week__meal-items:nth-child(even) .week__meal-title {
  flex-direction: row-reverse;
}
.week__meal-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.week__meal-price {
  color: #AF9065;
  font-family: "Cardo", serif;
  font-size: 22px;
  line-height: 34px;
}
.week__meal-name {
  font-family: "Cardo", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}
.week__menu-info {
  margin-right: 36px;
}
.week__menu-info:nth-child(even) {
  margin-left: 36px;
}
.week__meal-desc {
  color: rgb(0, 0, 0);
  text-align: right;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.week__meal-image {
  height: 90px;
  width: 90px;
}
.week__meal-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */