.menu__meal-name, .menu__meal-price, .menu__heading .section-tag, .card__link, .card__title, .news .section-tag, .banner__title, .about .section-tag {
  font-weight: 700;
}

.card__tag, .menubar__text-style {
  font-weight: 600;
}

.menu__meal-desc, .card__desc {
  font-weight: 400;
}

.menu__meal-name, .menu__meal-price, .menu__heading .section-tag, .card__link, .card__title, .news .section-tag, .banner__title, .about .section-tag {
  font-weight: 700;
}

.card__tag, .menubar__text-style {
  font-weight: 600;
}

.menu__meal-desc, .card__desc {
  font-weight: 400;
}

.container {
  padding: 0 15px;
  max-width: 540px;
  margin: 0 auto;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.btn__primary {
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #AF9065;
  font-family: "Nunito", sans-serif;
  color: white;
  border: 1px solid #AF9065;
  transition: 0.3s all ease-in-out;
}
.btn__primary:hover {
  background: transparent;
  color: #AF9065;
  border: 1px solid #AF9065;
}
.btn__secondary {
  padding: 8px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Nunito", sans-serif;
  color: var(--white-color);
  color: rgb(255, 255, 255);
}
.btn__secondary:hover {
  background: rgb(255, 255, 255);
  color: #AF9065;
  border: 1px solid #AF9065;
}

.about__wrapper {
  padding: 32px 0;
  display: flex;
  flex-direction: column-reverse;
}
.about__wrapper-left {
  width: 100%;
  margin-right: 50px;
}
.about__wrapper-right {
  width: 100%;
  display: flex;
  gap: 50px;
  height: 400px;
}
.about__wrapper-right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__wrapper-right img:nth-child(2) {
  display: none;
}
.about .section-tag {
  color: #AF9065;
  font-family: Nunito;
  font-size: 12px;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  color: #AF9065;
  margin-top: 4px;
  margin-bottom: 4px;
}
.about .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 8px;
}
.about .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 36px;
}

.banner {
  position: relative;
  text-align: center;
}
.banner p {
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.banner__image {
  height: 280px;
  left: 0px;
  top: 0px;
}
.banner__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}
.banner__title {
  font-family: "Cardo", serif;
  font-size: 40px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-align: center;
}
.banner__buttons {
  display: flex;
  gap: 10px;
  text-align: center;
}

.cta {
  position: relative;
  height: 276px;
}
.cta::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}
.cta img {
  height: 100%;
  width: 100%;
}
.cta__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  text-align: center;
  width: 90%;
}
.cta .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 36px;
}
.cta .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  margin-bottom: 12px;
}

.header {
  display: none;
  background-color: black;
}
.header__wrapper {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  color: white;
  text-decoration: none;
  gap: 50px;
}
.header__address {
  display: flex;
}
.header__address-name {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 10px;
}
.header__mail-name {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 10px;
}
.header__right {
  display: flex;
}
.header__social {
  display: flex;
  gap: 15px;
  margin-right: 30px;
  align-items: center;
}
.header__social .btn__primary {
  padding: 10px 30px;
}

.footer {
  background-color: rgb(65, 53, 37);
  padding: 32px 0 4px 0;
}
.footer li {
  margin-bottom: 10px;
}
.footer .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  margin-bottom: 20px;
}
.footer__top {
  display: flex;
  gap: 16px;
  padding-bottom: 28px;
  flex-wrap: wrap;
}
.footer .social-media {
  display: flex;
  gap: 15px;
  margin-right: 30px;
  align-items: center;
  margin: 30px 0;
  list-style: none;
}
.footer__info {
  width: calc((100% - 20px) / 2);
}
.footer__info .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}
.footer__rooms {
  width: calc((100% - 20px) / 2);
}
.footer__rooms li::before {
  content: "";
  width: 8px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.footer__rooms .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  list-style: none;
}
.footer__contact {
  width: 30%;
}
.footer__contact-info {
  display: flex;
  align-items: center;
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 10px;
}
.footer__contact .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.footer__contact svg {
  margin-right: 15px;
}
.footer__line {
  top: 0;
  left: 0;
  height: 1px;
  color: rgb(255, 255, 255);
}
.footer__bottom {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(255, 255, 255);
}
.footer__store {
  display: flex;
  gap: 14px;
  height: 40px;
}
.footer__store img {
  width: auto;
  height: auto;
}

.menubar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.menubar__right {
  display: none;
}
.menubar__right .list-style {
  list-style: none;
  display: flex;
  gap: 30px;
}
.menubar__text-style {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.menubar__logo {
  height: 32px;
}
.menubar__logo img {
  height: 100%;
  width: 100%;
}
.menubar__rooms-dropdown svg {
  justify-content: center;
}
.menubar .bar {
  width: 20px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin-top: 4px;
  cursor: pointer;
}

.news {
  padding: 32px 0;
  background-color: #e5e5e5;
  text-align: center;
}
.news__heading {
  margin: 0 auto;
  width: 84%;
}
.news .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.news .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.news .section-tag {
  color: #AF9065;
  font-family: Nunito;
  font-size: 12px;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  text-align: center;
}
.news .section-tag::before {
  content: "";
  height: 2px;
  background-color: #AF9065;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
.news .section-tag::after {
  content: "";
  height: 2px;
  background-color: #AF9065;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
.news__wrapper {
  display: flex;
  gap: 20px;
  padding: 28px 0;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: left;
}
.card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__info {
  padding: 12px 20px;
}
.card__tag {
  color: #AF9065;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 2px;
}
.card__title {
  font-family: #AF9065;
  font-size: 18px;
  line-height: 34px;
}
.card__desc {
  color: #474A57;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}
.card__link {
  color: #AF9065;
  font-family: "Cardo", serif;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}
.card__link::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.219421 0.601684C0.251571 0.569452 0.289765 0.543879 0.331815 0.52643C0.373864 0.508982 0.418943 0.5 0.464469 0.5C0.509995 0.5 0.555073 0.508982 0.597123 0.52643C0.639172 0.543879 0.677366 0.569452 0.709517 0.601684L4.86288 4.75504C4.89511 4.78719 4.92068 4.82539 4.93813 4.86744C4.95558 4.90949 4.96456 4.95456 4.96456 5.00009C4.96456 5.04562 4.95558 5.09069 4.93813 5.13274C4.92068 5.17479 4.89511 5.21299 4.86288 5.24514L0.709517 9.3985C0.644526 9.46349 0.55638 9.5 0.464469 9.5C0.372558 9.5 0.284411 9.46349 0.219421 9.3985C0.15443 9.33351 0.117918 9.24536 0.117918 9.15345C0.117918 9.06154 0.15443 8.97339 0.219421 8.9084L4.12842 5.00009L0.219421 1.09178C0.187188 1.05963 0.161616 1.02144 0.144167 0.979386C0.126718 0.937337 0.117737 0.892258 0.117737 0.846732C0.117737 0.801206 0.126718 0.756128 0.144167 0.714078C0.161616 0.672029 0.187188 0.633835 0.219421 0.601684Z' fill='%23AF9065'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.37278 0.601684C4.40493 0.569452 4.44312 0.543879 4.48517 0.52643C4.52722 0.508982 4.5723 0.5 4.61783 0.5C4.66335 0.5 4.70843 0.508982 4.75048 0.52643C4.79253 0.543879 4.83072 0.569452 4.86288 0.601684L9.01623 4.75504C9.04847 4.78719 9.07404 4.82539 9.09149 4.86744C9.10894 4.90949 9.11792 4.95456 9.11792 5.00009C9.11792 5.04562 9.10894 5.09069 9.09149 5.13274C9.07404 5.17479 9.04847 5.21299 9.01623 5.24514L4.86288 9.3985C4.79788 9.46349 4.70974 9.5 4.61783 9.5C4.52592 9.5 4.43777 9.46349 4.37278 9.3985C4.30779 9.33351 4.27128 9.24536 4.27128 9.15345C4.27128 9.06154 4.30779 8.97339 4.37278 8.9084L8.28178 5.00009L4.37278 1.09178C4.34055 1.05963 4.31497 1.02144 4.29753 0.979386C4.28008 0.937337 4.2711 0.892258 4.2711 0.846732C4.2711 0.801206 4.28008 0.756128 4.29753 0.714078C4.31497 0.672029 4.34055 0.633835 4.37278 0.601684Z' fill='%23AF9065'/%3E%3C/svg%3E");
  height: 9px;
  width: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 12px;
}

.video__wrapper {
  position: relative;
  height: 276px;
  left: 0px;
  top: 0px;
}
.video__wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__wrapper::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
.video__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  text-align: center;
  width: 90%;
}
.video__content svg {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.video .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(255, 255, 255);
  justify-content: center;
}

.menu {
  background-color: #e5e5e5;
  padding: 32px 0;
  text-align: center;
}
.menu__heading {
  text-align: center;
  margin: 0 auto;
  width: 84%;
}
.menu__heading .section-tag {
  color: #AF9065;
  font-family: Nunito;
  font-size: 12px;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.menu__heading .common-title {
  color: #000;
  font-family: Cardo;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  line-height: 36px;
}
.menu__heading .common-desc {
  color: #474A57;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.menu__meals {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 28px 0;
}
.menu__meal {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 8px 20px;
  display: flex;
}
.menu__meal:nth-child(even) {
  flex-direction: row-reverse;
}
.menu__meal:nth-child(even) .menu__meal-title {
  flex-direction: row-reverse;
}
.menu__meal:nth-child(even) .menu__meal-desc {
  text-align: right;
}
.menu__meal:nth-child(even) .menu__meal-info {
  margin-left: 36px;
}
.menu__meal:nth-child(even) .menu__meal-name {
  text-align: left;
}
.menu__meal-title {
  display: flex;
  justify-content: space-between;
}
.menu__meal-price {
  color: #AF9065;
  font-family: "Cardo", serif;
  font-size: 18px;
  line-height: 34px;
}
.menu__meal-name {
  font-family: "Cardo", serif;
  font-size: 18px;
  line-height: 34px;
  text-align: right;
}
.menu__meal-info {
  margin-right: 20px;
}
.menu__meal-info:nth-child(even) {
  margin-left: 20px;
}
.menu__meal-desc {
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 32px;
}
.menu__meal-image {
  height: 90px;
  width: 90px;
}
.menu__meal-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */