.top-header {
    width: 100%;
    height: 100%;
    padding-left: 85px;
    padding-right: 85px;
    background: #18191F;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}



.location {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    word-wrap: break-word"

}

.email {
    display: inline-flex
}

.frame-image {
    width: 2px;
    height: 60px" 

}


.right-side {
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    gap: 30;

}



.cart-social {

    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    display: inline-flex"

}

.book-now {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    word-wrap: break-word;
    display: inline-flex"

}

.menu {
    display: flex;
    width: 1300px;
    padding: 20px 85px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex
}

.frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    height: 60px;
}

.frame-right {
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    display: flex
}

.home-bar {
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    display: flex"

}

.home-bar-items {
    color: black;
    font-size: 15px;
    line-height: 22px;

}

.banner {
    position: relative
}

.banner-image {
    width: 1440px;
    height: 650px;
    left: 0px;
    top: 0px;
    border: 1px black solid" 

}

.banner-text {
    width: 720px;
    height: 188px;
    left: 359px;
    top: 177px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: inline-flex
}

.first-text {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    display: flex;
    color: white;
    font-size: 54px;
}

.second-text {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f5f5dc;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.about-left-side {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;


}

.text-format-1 {
    width: 500px;
    color: black;
    font-size: 44px;
    font-weight: 700;
    line-height: 58px;
    word-wrap: break-word
}

.text-format-2 {

    width: 610px;
    color: black;
    font-size: 18px;
    line-height: 32px;
    word-wrap: break-word
}

.learn-more {
    padding: 15px 40px;
    background: #f5f5dc;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.image-right-side {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    display: flex;
    width: 280px;
    height: 464px;
}

.booking-wrapper {
    width: 50px;
    height: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.container {
    padding-left: 85px;
    padding-right: 85px
}

.adventure-section {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative
}

.adventure-content {
    height: 210px;
    justify-content: flex-start;
    gap: 5px;
    display: inline;
    position: absolute
}

.adventure-heading {
    height: 157px;
    justify-content: flex-start;
    gap: 15px;
}

.heading-text {
    align-self: stretch;
    text-align: center;
    color: white;
    font-size: 44px;
    font-weight: 700;
    line-height: 58px;
    word-wrap: break-word;
}

.heading-description {
    height: 84px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.booking-button {

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    background: #AF9065;

    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    word-wrap: break-word;

    display: flex;
    justify-content: center;
    align-items: center;
}



.restaurant {
    height: 1053px;
    width: 1440px;

}

.restaurant-wrap {
    display: flex;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 100px;
    padding: down 100px;



    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.specials-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.specials-heading {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}



.heading-text {
    color: #AF9065;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.68px;
    word-wrap: break-word;
}

.menu-title {
    width: 607px;
    text-align: center;
    color: black;
    font-size: 44px;
    font-weight: 700;
    line-height: 58px;
    word-wrap: break-word;
}

.menu-description {
    width: 696px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.holidays-image {
    width: 1440px;
    height: 338px
}

.holiday-container {

    position: relative;


}

.holiday-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;

}

.holiday-button {
    width: 30px;
    height: 30px;

}

.holiday-text {
    color: white;
    font-family: Cardo;
}

.offers-wrapper {
    height: 1440px;
    width: 1073px;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 100px;
    padding-top: 100px;



}

.offers-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.offers-top {
    display: grid;
    place-items: center;

}

.offers-top-heading {
    color: #AF9065;
    font-size: 14px;
    font-family: Nunito;

}

.line {
    color: #AF9065;
    width: 30px;
    height: 1.5px; 

}

.h3{
    font-family: Cardo;
font-size: 44px;
font-style: normal;
font-weight: 700;

}

.offers-row{
    margin-top: 50px;

}