@mixin buttonStyles {
  padding:13px 40px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.btn {
  &__primary {
    @include buttonStyles;
    background-color: $primary-color;
    border: none;
    font-family: $secondary-font;
    color: white;
  }

  &__secondary {
    @include buttonStyles;
    background-color: transparent;
    border: 1px solid white;
    font-family: $secondary-font;
    color: var(--white-color);
    color: $white-color;
  }
}
