.container {
  padding: 0 85px;
  max-width: 1400px;
  margin: 0 auto;

  @include fullhd {
    max-width: 1320px;
  }

  @include laptop {
    max-width: 1170px;
  }

  @include desktop-mini {
    max-width: 960px;
  }

  @include tablet {
    max-width: 750px;
  }

  @include mobile {
    max-width: 540px;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}