.container {
  padding: 0 85px;

  // @include fullxl {
  //   max-width: 1620px;
  // }
  // @include fullhd {
  //   max-width: 1320px;
  // }
//   @include laptop {
//     max-width: 1170px;
//   }

  @include desktop-mini {
     padding: 0 65px;
    // max-width: 960px;
  }

  @include tablet {
    padding: 0 55px;
    // max-width: 750px;
  }

//   @include mobile {
//     max-width: 540px;
//   }
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

