.container {
  padding: 0 16px;
  max-width: 540px;
  margin: 0 auto;

  @include mobile {
    max-width: 750px;
    padding: 0 32px;
  }

  @include tablet {
    max-width: 960px;
    padding: 0px 48px;
  }

  @include desktop-mini {
    max-width: 1200px;
    padding: 0 64px;
  }

  @include laptop {
    max-width: 1400px;
    padding: 0 85px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup {
  background-color: rgb(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 2;

  &__wrapper {
    max-width: 650px;
    width: 100%;
    background: white;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // &__header{
  //   display: flex;
  //   justify-content: space-between;
  // }

  
  .common-title {
    @include common-title;
    text-align: center;
}

}

.active {
  display: block;
}