.about {
    &__wrapper {
        padding: 32px 0;
        display: flex;
        flex-direction: column-reverse;

        &-left {
            width: 100%;
            margin-right: 50px;
        }

        &-right {
            width: 100%;
            display: flex;
            gap: 50px;
            height: 400px;

            img {
                width: 100%;
                object-fit: cover;
            }

            img:nth-child(2) {
                display: none;
            }

        }

    }

    .section-tag {
        @include section-tag;
        color: $primary-color;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .common-title {
        @include common-title;
        margin-bottom: 8px;
    }

    .common-desc {
        @include common-desc;
        margin-bottom: 36px;
    }
}

