.banner {
    position: relative;
    text-align: center;

    p {
        font-family: $secondary-font;
        font-size: 10px;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__image {
        height: 280px;
        left: 0px;
        top: 0px;
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        // z-index: 1;

        @include tablet {
            height: 420px;
        }

        @include desktop-mini {
            height: 650px;
        }

        img {
            @include image-length;
            object-fit: cover;
        }
    }

    &__text {
        @include image-position;
        width: 100%;
        //Parallax
        z-index: 1;
        min-width: 20vh;
    }

    &__title {
        font-family: $primary-font;
        fOnt-size: 40px;
        line-height: 32px;
        @extend %bold;
        color: $white-color;
        margin-bottom: 20px;
        text-align: center;

        @include desktop-mini {
            font-size: 54px;
            line-height: 66px;
            margin-bottom: 40px;
        }
    }

    &__buttons {
        display: flex;
        gap: 10px;
        text-align: center;
        justify-content: center;
    }

    #parallax-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: url('../images/Rectangle 1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 100%;
    }

    .parallax{
        background-color: blue;
    }

}