.cta {
    position: relative;
    height: 300px;

    @include desktop-mini {
        height: 262px;

        .common-desc {
            line-height: 20px;
            color: $white-color;
            margin-bottom: 20px;
        }
    }

    @include tablet {
        height: 262px;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: $black-color;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.6;
    }

    img {
        @include image-length;
    }

    &__wrapper {
        @include image-position;
        text-align: center;

        @include tablet{
            width: 80%;
        }
    }

    .common-title {
        @include common-title;
        color: $white-color;
        text-align: center;
        line-height: 58px;

        @include desktop-mini {
            font-size: 35px;
            margin-bottom: 4px;
        }
        
        @include tablet {
            line-height: 40px;
        }
    }

        .common-desc {
            @include common-desc;
            text-align: center;
            color: $white-color;
        }

    }