.elements {
    &__wrapper {
        display: flex;
        // gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 40px 40px;
    }
}

.common-title {
    @include common-title;
    margin-bottom: 16px;
}

.common-desc {
    @include common-desc;
    margin-bottom: 8px;
}

.drop-down {
    width: 25%;

    select {
        background-color: $primary-color;
        color: white;
        padding: 12px;
        width: 220px;
        border: none;
        font-size: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    }

    &::before {
        content: "";
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 44px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
    }

    &:hover::before {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
    }

}

.radio-button {
    display: flex;
    flex-direction: column;
    width: 25%;
}