.footer {
    background-color: $brown-color;
    padding: 32px 0 4px 0;

    @include desktop-mini {
        padding: 70px 0 16px 0;
    }

    li {
        margin-bottom: 4px;
    }

    .common-title {
        @include common-title;
        color: $white-color;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;

        @include desktop-mini {
            font-size: 28px;
            font-weight: 700;
            line-height: 38px;
            margin-bottom: 20px;
        }


    }

    &__top {

        padding-bottom: 28px;

        @include tablet {
            display: flex;
            gap: 20px;
            flex-wrap: wrap
        }
    }

    .social-media {
        @include social-media;
        margin: 30px 0;
        list-style: none;
    }

    &__info {
        width: calc((100% - 20px)/2);

        @include desktop-mini {
            width: 32%
        }

        img {
            height: 28px;

            @include desktop-mini {
                height: auto;
                margin-bottom: 20px;

            }
        }

        .common-desc {
            @include common-desc;
            margin-top: 8px;
            color: $white-color;
        }

    }

    &__rooms {
        width: calc((100% - 20px)/2);

        @include desktop-mini {
            width: 16%
        }

        li::before {
            content: "";
            width: 8px;
            height: 2px;
            background-color: $white-color;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        .common-desc {
            @include common-desc;
            color: $white-color;
            list-style: none;
        }
    }

    &__contact {
        width: 48%;

        @include desktop-mini {
            width: 28%;        }

        &-info {
            display: flex;
            align-items: center;
            @include common-desc;
            color: $white-color;
            text-decoration: none;
            margin-bottom: 4px;
        }

        .common-desc {
            @include common-desc;
            color: $white-color;
            margin-bottom: 8px;
        }

        svg {
            margin-right: 15px;
        }
    }

    &__line {
        top: 0;
        left: 0;
        height: 1px;
        color: $white-color;

    }

    &__bottom {
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include common-desc;
        color: $white-color;

        @include desktop-mini {
            flex-direction: row;
        }
    }

    &__store {
        display: flex;
        gap: 14px;
        height: 24px;

        img {
            width: auto;
            height: auto;

        }
    }
}