.menubar {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
    }

    &__right {
        .list-style {
            display: none;

            @include tablet {
                list-style: none;
                display: flex;
                gap: 30px;
            }
        }

    }

    &__text-style {
        color: $black-color;
        text-decoration: none;
        font-family: $secondary-font;
        font-size: 16px;
        @extend %semi-bold;
        line-height: 22px;
    }

    &__logo {
        height: 32px;

        img {
            @include image-length;
        }
    }

    &__rooms-dropdown svg {
        justify-content: center;
    }

    .bar {
        width: 20px;
        height: 2px;
        background-color: $black-color;
        margin-top: 4px;
        cursor: pointer;

        @include tablet {
            display: none;
        }
    }

}