.video {

    &__wrapper {
        position: relative;
        height: 300px;
        left: 0px;
        top: 0px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.5;
        }
    }

    &__content {
        @include image-position;
        text-align: center;

        svg{
            width: 60px;
            height: 60px;
            margin-bottom: 20px;
        
        }

        @include desktop-mini{
            width: 70%;
        }
    }

    .common-title{
        @include common-title;
        color: $white-color;
        justify-content: center;
        font-size: 36px;
    }
}