.menu {
    $self: &;
    background-color: $secondary-color;
    padding: 100px 0;
    text-align: center;

    @include desktop-mini {
        padding: 72px 0;
    }

    @include tablet {
        padding: 52px 0;
    }

    &__heading {
        text-align: center;
        margin: 0 auto;
        width: 56%;

        .section-tag {
            @include section-tag;
        }

        .common-title {
            @include common-title;
        }

        .common-desc {
            @include common-desc;
        }

        @include desktop-mini {
            .common-title {
                margin-bottom: 4px;
            }

            .common-desc {
                line-height: 28px;
                margin-bottom: 16px;
            }
        }

        @include tablet {
            width: 76%;
        }
    }

    &__meals {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        padding: 50px 0;

        @include desktop-mini {
            padding: 32px 0;
        }

        @include desktop-mini {
            gap: 32px;
        }
    }

    &__meal {
        width: calc((100% - 50px)/2);
        background-color: $white-color;
        padding: 20px 37px;
        display: flex;


        &:nth-child(even) {
            flex-direction: row-reverse;

            #{$self}__meal-title {
                flex-direction: row-reverse;
            }

            .menu__meal-desc {
                text-align: right;
            }

            .menu__meal-info {
                margin-left: 36px;

                @include desktop-mini {
                    margin-left: 16px;
                }
            }

            .menu__meal-name {
                text-align: left;
            }
        }

        @include desktop-mini {
            padding: 20px 28px;
        }

        @include tablet {
            width: 100%;
        }
    }

    &__meal-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        @include desktop-mini {
            margin-bottom: 8px;
        }



    }

    &__meal-price {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 20px;
        @extend %bold;
        line-height: 34px;

        @include desktop-mini {
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__meal-name {
        font-family: $primary-font;
        font-size: 20px;
        @extend %bold;
        line-height: 34px;
        text-align: right;


        @include desktop-mini {
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__meal-info {
        margin-right: 36px;

        @include desktop-mini {
            margin-right: 16px;
        }

        &:nth-child(even) {
            margin-left: 36px;
        }
    }

    &__meal-desc {
        color: $black-color;
        text-align: left;
        font-family: $secondary-font;
        font-size: 16px;
        @extend %regular;
        line-height: 32px;


        @include desktop-mini {
            line-height: 24px;
        }
    }

    &__meal-image {
        height: 90px;
        width: 90px;

        img {
            @include image-length;
            object-fit: contain;
        }
    }

}