//Basic color
$black-color:rgba(0, 0, 0, 1);
$white-color:rgba(255, 255, 255, 1);
$brown-color:rgba(65, 53, 37, 1);

//Primary Color 
$primary-color: #AF9065;

//Seconday Color
$secondary-color:#e5e5e5;

//Text color
$text-color:#474A57;

//Font 
$primary-font : 'Cardo', serif;;
$secondary-font : 'Nunito', sans-serif;








