//For Responsivee
$fullhd:1440px !default;
$laptop:1200px !default;
$desktop-mini:992px !default;
$tablet:768px !default;
$mobile:576px !default;

@mixin fullhd{
    @media screen and (max-width : $fullhd){
        @content;
    }
}

@mixin laptop{
    @media screen and (max-width: $laptop){
        @content;
    }
}

@mixin desktop-mini{
    @media screen and ( max-width: $desktop-mini){
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width: $tablet){
        @content;
    }
}

@mixin mobile{
    @media screen and (max-width: $mobile){
        @content;
    }
}

